@model Client
<!-- 
	post não mostra os dados pegos no url apesar de ser bem mais lento,
	o get mostra e é bem mais rápido.
	mexendo sem login, use o post por questões de segurança
-->
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row">
			<h1 class="mb-4 ms-3">Create Client</h1>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>

		<div class="mb-3">
			<label asp-for="ClientName"></label>
			<input asp-for="ClientName" class="form-control" />
			<span asp-validation-for="ClientName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ClientContactNum"></label>
			<input asp-for="ClientContactNum" class="form-control" />
			<span asp-validation-for="ClientContactNum" class="text-danger"></span>
		</div>

		<div class="row">
			<div class="col-6">
				<button type="submit" class="btn btn-primary form-control">Create</button>
			</div>
			<div class="col-6">
				<a asp-controller="Client" asp-action="Index" class="btn btn-secondary form-control">
					Back to List
				</a>
			</div>
		</div>
	</div>
</form>