@model List<Mesa>

<div class="container">
	<div class="row mb-3">
		<div class="col">
			<h1 class="ms-3">Lista de Mesas</h1>
			<hr />
		</div>
	</div>

	<table class="table table-bordered table-striped text-center">
		<thead>
			<tr>
				<td>N° da Mesa</td>
				<td>N° de Lugares</td>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Lugares</td>
				</tr>
			}
		</tbody>
	</table>
</div>
	
