<h1>Cheguei no formulário para criar uma nova categoria</h1>

<form>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
        </div>


        <label>Name</label>
        <input class="form-control" />

        <label>Display Order</label>
        <input class="form-control" />

        <div>
            <a asp-controller="" asp-action="">Create</a>
            <a asp-controller="Category" asp-action="Index">Back To List</a>
        </div>
    </div>
</form>