<div class="row">
    <div col-6>
        <h2 class="text-primary">Category List</h2>
    </div>
    <div col-6>
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
            New Category
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Celulares</td>
            <td>2</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Computers</td>
            <td>1</td>
            <td></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>History</td>
            <td>3</td>
            <td></td>
        </tr>
    </tbody>
</table>