@model Rent
<h2>Nova Locação</h2>

<form method="post">

    <div class="form-group">
        <label asp-for="ClienteId">Cliente</label>
        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.Clients">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="VeiculoId">Veículo</label>
        <select asp-for="VeiculoId" class="form-control" asp-items="ViewBag.Vehicles"></select>
    </div>

    <div class="form-group">
        <label asp-for="DataRetirada">Data de Retirada</label>
        <input asp-for="DataRetirada" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="DataDevolucaoPrevista">Data de Devolução Prevista</label>
        <input asp-for="DataDevolucaoPrevista" class="form-control" type="date" />
    </div>
    <button type="submit" class="btn btn-primary">Criar Locação</button>


</form>