@model Product
<!--
	post não mostra os dados pegos no url apesar de ser bem mais lento,
	o get mostra e é bem mais rápido.
	mexendo sem login, use o post por questões de segurança
-->
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row">
			<h1 class="mb-4 ms-3">Delete Product</h1>
			<hr />
		</div>

		<div class="mb-3">
			<label>Product Name</label>
			<input asp-for="NameProduct" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label>Quantity</label>
			<input asp-for="Quantity" disabled class="form-control" />
		</div>

		<div class="row">
			<div class="col-6">
				<button type="submit" class="btn btn-danger form-control">Delete</button>
			</div>
			<div class="col-6">
				<a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">
					Back to List
				</a>
			</div>
		</div>
	</div>
</form>