@model LojaIdentity.ViewsModels.LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div>
    <section>
        <form asp-action="Login" method="post">
            <h4>Use uma conta local para fazer login.</h4>
            <hr />
            <div asp-validation-summary="All" style="color: red;"></div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" />
                <span asp-validation-for="Email" style="color: red;"></span>
            </div>
            <br />
            <div>
                <label asp-for="Password"></label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" style="color: red;"></span>
            </div>
            <br />
            <div>
                <label>
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
            <br />
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>
    </section>
</div>