@model LojaIdentity.ViewsModels.RegisterViewModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-action="Register" method="post">
        <h4>Crie uma nova conta.</h4>
        <hr />
        <div asp-validation-summary="All" style="color: red;"></div>

        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email" style="color: red;"></span>
        </div>
        <br />
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" style="color: red;"></span>
        </div>
        <br />
        <div>
            <label asp-for="ConfirmPassword"></label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" style="color: red;"></span>
        </div>
        <br />
        <button type="submit">Registrar</button>
    </form>
</div>


