<div class="row">
    <div col-6>
        <h2 class="text-primary">Products List</h2>
    </div>
    <div col-6>
        <a asp-controller="Products" asp-action="Add" class="btn btn-primary">
            New Product
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Barcorde</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PS5 Digital</td>
            <td></td>
            <td>5000</td>
            <td>0001</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Ryzen 5 5600G</td>
            <td></td>
            <td>650</td>
            <td>0002</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>GTX 1650Ti</td>
            <td></td>
            <td>1600</td>
            <td>0003</td>
        </tr>
    </tbody>
</table>