@model Category

<div class="container">
	<div class="row">
		<h1 class="ms-4">Delete Category</h1>
		<hr />
	</div>

	<form method="post">
		<div class="row mb-2">
			<label>Category Id</label>
			<input asp-for="Id" class="form-control" disabled />
		</div>

		<div class="row mb-2">
			<label>Category Name</label>
			<input asp-for="CategoryName" class="form-control" disabled />
		</div>

		<div class="row mb-2">
			<label>Category Display Order</label>
			<input asp-for="CategoryDisplayOrder" class="form-control" disabled />
		</div>

		<div class="row align-items-center mt-4">
			<div class="col-auto">
				<button type="submit" class="btn btn-danger">Delete Category</button>
			</div>
			<div class="col-auto">
				<a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>
			</div>
		</div>
	</form>
</div>