@{
    ViewData["Title"] = "E-Commerce muito brabo";
}

<div class="text-center">
    <h1 class="display-4 mb-0">E-Commerce muito brabo</h1>
    <p class="text-secondary">Feito por João Gabriel C.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
