<h1>Cheguei no formulário para adicionar um novo jogo</h1>

<form>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Game</h2>
        </div>


        <label>Name</label>
        <input class="form-control" />

        <label>Launching Year</label>
        <input class="form-control" />

        <label>Rating</label>
        <input class="form-control" />

        <div>
            <a asp-controller="" asp-action="">Add</a>
            <a asp-controller="Games" asp-action="Index">Back To List</a>
        </div>
    </div>
</form>