<div class="row">
    <div col-6>
        <h2 class="text-primary">Games List</h2>
    </div>
    <div col-6>
        <a asp-controller="Clients" asp-action="Add" class="btn btn-primary">
            New Game
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Launching Year</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Hollow Knight</td>
            <td>2017</td>
            <td>10</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Breath of The Wild</td>
            <td>2017</td>
            <td>9.5</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Terraria</td>
            <td>2011</td>
            <td>8.5</td>
        </tr>
    </tbody>
</table>