<div class="row">
    <div col-6>
        <h2 class="text-primary">Clients List</h2>
    </div>
    <div col-6>
        <a asp-controller="Clients" asp-action="Add" class="btn btn-primary">
            New Client
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Job</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>João Gabriel C</td>
            <td>17</td>
            <td>Student</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Marcelo</td>
            <td>27</td>
            <td>Physics Teacher</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Lukas</td>
            <td>16</td>
            <td>Student</td>
        </tr>
    </tbody>
</table>