@{
    Layout = null; 
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biblioteca de Alexandria</title>
    <meta name="description" content="Compre livros de todos os tipos online com segurança e praticidade.">
    <meta name="keywords" content="livros, livraria, online, comprar">
    <meta name="author" content="João Gabriel C.">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=IM+Fell+DW+Pica+SC&display=swap" rel="stylesheet">
    <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="./css/styles.css" rel="stylesheet" asp-append-version="true">
    <link href="./css/anim.css" rel="stylesheet" asp-append-version="true"></head>

<body>
    <header>
        <nav class="header-top navbar navbar-expand-sm">
            <h1 class="navbar-brand mb-0 ms-4">Biblioteca de Alexandria</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto me-4">
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-bottom py-3">
        </div>
    </header>

    <main>
        <section class="container-fluid py-3">
            <div class="row text-center">
                <h1 class="splash-anim mb-2">Restauração de Pergaminhos!</h1>
                <h3>↓ Descontos imperdíveis ↓</h3>
            </div>

            <div class="row fadein">
                <div class="col d-flex justify-content-center">
                    <a href="https://www.amazon.com.br/dp/6587720234/?coliid=I1IGN2BUR5LKI0&colid=20AFWVRCGUPTE&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <img src="./media/cover1.jpg" class="card-img-top" />
                                <h3 class="card-title mt-1">Selos, Sigilos & Invocações</h3>
                                <h6 class="card-subtitle text-muted mb-2">J. R. Mascaro</h6>
                                <div class="d-flex justify-content-around mt-auto">
                                    <h5 class="preco-anterior mb-0">R$65,00</h5>
                                    <h4 class="preco-atual mb-0">R$45,00</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="https://www.amazon.com.br/Crônicas-espaciais-Rumo-última-fronteira/dp/8542216601/ref=sr_1_1?crid=1P08QGWP4VNH2&dib=eyJ2IjoiMSJ9.0ldNZZLw2DdYPb31VlJXhE41axhIeL9g2yloQX9ZLoZ5WItO3ls5cbvhronGAxdbJQby9pea5kbh8_Fa6nTGoVr60WLjZr2n0eV5ktQYhSImkeOzUWz_hB2qsjB0QquaPHtgS8dvscFpLnIxAYl9Zzyu0uRkes8c36RHLzQqnu0bzI3bKtr8-_-0NYPyYsy3_y85CSa5ZXtnIyARUDgPReSp_NXPw0P3oAJWZk4bN8PC-H9NiHXsf8Q-ZqH2vNUP8fu0OlKJS6BucBiLiQMk-e_fQo87a5auD74LSnL9ZDk.5yUURRGJg-IgJr_Do6lP4kLEjlvIt-G3veL-jAQt2Ms&dib_tag=se&keywords=cronicas+espaciais&qid=1747619006&sprefix=cronicas+espa%2Caps%2C697&sr=8-1">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <img src="./media/cover2.jpg" class="card-img-top" />
                                <h3 class="card-title mt-1">Crônicas Espaciais: Rumo à Última Fronteira</h3>
                                <h6 class="card-subtitle text-muted mb-2">Neil deGrasse Tyson</h6>
                                <div class="d-flex justify-content-around mt-auto">
                                    <h5 class="preco-anterior mb-0">R$96,90</h5>
                                    <h4 class="preco-atual mb-0">R$20,98</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="https://www.amazon.com.br/Cartas-Um-Diabo-Seu-Aprendiz/dp/857860184X">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <img src="./media/cover3.jpg" class="card-img-top" />
                                <h3 class="card-title mt-1">Cartas de um diabo a seu aprendiz</h3>
                                <h6 class="card-subtitle text-muted mb-2">C. S. Lewis</h6>
                                <div class="d-flex justify-content-around mt-auto">
                                    <h5 class="preco-anterior mb-0">R$59,90</h5>
                                    <h4 class="preco-atual mb-0">R$31,83</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="https://www.amazon.com.br/Estratégia-UX-Técnicas-Soluções-Inovadoras/dp/6586057655/ref=sr_1_2?__mk_pt_BR=ÅMÅŽÕÑ&crid=3J3H2WF0JHJW&dib=eyJ2IjoiMSJ9.nIJe3MBAw7nPJ_TUGjXPA2l9A2GbUKugVE8hkUXZxtalLAi_PW-euN7cxxyYhml3XvuaB8HZHhA1ZF8DdrGLadEPJisKGztA_uoYF5WdB5HDENIvQQKYgyi1AOMuAUl5RA-Dy8lwVakzJrch1s_yTtvAC-Evs1nEotf8sCgq5VgGNlLzN0eEh42tRroQIvRhrrKL0vFaN0lvq4ydyiVUlgQKCwsGxHVzkzz9P6ONPao.dA-AzWc30AGk_o6SlaiJShMb8cu9iIAfrJUelrQysvU&dib_tag=se&keywords=ux&qid=1747618789&s=books&sprefix=ux%2Cstripbooks%2C513&sr=1-2&ufe=app_do%3Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <img src="./media/cover4.jpg" class="card-img-top" />
                                <h3 class="card-title mt-1">Estratégia de UX</h3>
                                <h6 class="card-subtitle text-muted mb-2">Jaime Levy</h6>
                                <div class="d-flex justify-content-around mt-auto">
                                    <h5 class="preco-anterior mb-0">R$95,00</h5>
                                    <h4 class="preco-atual mb-0">R$80,79</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>


    </main>

    <footer id="footer" class="bg-3">
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/js.js"></script>
</body>
</html>